
#plus, #members, #minus{
  font-size: 18px;
}
#ingr, #inst{
  display: none;
}
#eachstep{
  color: blue;
}
body{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../bg1.jpg');
background-size: cover;
}
#bg{
background: rgb(180, 178, 178);
width: 80%;
}
#start{
margin-top: 80px;
}
#wel{
padding-top: 100px;
font-size:58px ;

}
#p{
font-size: 22px;
}
#ingredient,#instruction{
  margin-left: 40px;
}